*{
  font-family: 'Fira Code', monospace;
  font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');
html, body{
  margin: 0px;
  height: 100%;
}
body{
  background: radial-gradient(circle, rgb(63, 149, 115) 0%, rgb(1, 27, 57) 72%);
  margin: 8px;
  color: #ffff;
}
.container-fluid { 
  height: 97.5%;
  z-index: 900;
}
.navbar-dark .navbar-toggler{
  border: none;
  padding: 0;
  border-color: transparent;
} 
.row__header{
  margin-top: 10rem;
  display: block;
}
@media only screen and (min-width: 768px) {
  .row__header{
    text-align: center;
  }
  h1{
    font-size: 4rem;
  }
}