
*{
  font-family: 'Roboto', monospace; 
}


html{ margin: 0;}
body{
  background: rgb(99, 103, 101) 0%;
  margin: 8px;
  color: rgb(255, 255, 255);
}
.wrapper{
  min-height: 98vh;
  background: rgb(121, 144, 132) 0%;
}
.navbar-dark .navbar-toggler{
  border: none;
  padding: 0;
  border-color: transparent;
} 
.content-text{
  font-size: 16px;
}
.header-content{
  font-size: 1.3rem;
}
.nav-link{
  font-size: 1.5rem;
}
.project-button {
	background: #ededed;
	background-color:#ededed;
	border-radius:23px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	
}

.project-button:hover {
	background-color:#ededed;
  color:#676565;
}
.project-button:active {
	position:relative;
	top:1px;
}
.second-page__header{
  text-align: center;
}
.social-media__links{
  font-size: 34px;
  color: #2f5b64;
}
.social-media__links:hover{
  color: #23454c;
}

@media screen and (max-width:767px) {
  .content-text{
    text-align: center;
  }

  
}
@media  screen and (min-width:768px) and (max-width:1023px) {
  
  .content-text{
    font-weight: 300;
    font-size: 1.2rem;
  }
  .row__header{
    text-align: center;
  }
  .about-section .personal-photo{
    height: 66%;
    width: 100%;
  }
  .form{
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px){
  .row__header{
    text-align: center;
  }
  h1{
    font-size: 5rem;
  }
  .personal-photo{
    width: 70%;
    height: 100%;
  }
  .content__bio{
    margin: 4rem 2rem;
  }
  .content-text{
    font-size: 1.2rem;
    font-weight: 300;
  }
  .header-content{
    font-size: 1.5rem;
  }
  .navbar-brand{
    font-size: 1.7rem;
  }
  .nav-link{
    font-size:1.3rem;
  }
  .project-button{
    padding: 0.690rem 3.94rem;
    font-size: 1.25rem;
  }
  .second-page__header{
    font-size: 3rem;
    text-align: start;
  }
  .logo-cat{
    width: 70px;
  }
  .logo-gus{
    width: 54px;
  }
  
}


